[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bump2version = "==1.0.1"
watchdog = "==0.10.3"
flake8 = "==3.8.4"
tox = "==3.20.1"
coverage = "==5.3"
docutils = "==0.16"
cryptography = "==3.2.1"
pytest = "==6.1.2"
pytest-runner = "==5.2"
scikit-learn = "==0.23.2"
click = "==7.1.2"
mypy = "==0.790"
bandit = "==1.6.2"
asq = "==1.3"
defusedxml = "==0.6.0"
colorama = "==0.4.4"
joblib = "==0.17.0"
progressbar2 = "==3.53.1"
pathlib2 = "==2.3.5"
Sphinx = "==3.3.0"
PyYAML = "==5.3.1"
Cython = "==0.29.21"

[dev-packages]

[requires]
python_version = "3.7"
